# Behrooz Janfada Behrooz.janfada@gmail.com
AddType application/octet-stream .pdf
ErrorDocument 404 /404/

Options +FollowSymlinks
RewriteEngine on
RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^([\s\S]*)/([\s\S]*)/&page=([0-9]+)$ ?option=$1&id=$2&page=$3 [L,nc]
RewriteRule ^([\s\S]*)/&page=([0-9]+)$ ?option=$1&page=$2 [L,nc]
RewriteRule ^([\s\S]*)/([\s\S]*)/$ ?option=$1&id=$2 [L,nc]
RewriteRule ^([\s\S]*)/$ ?option=$1 [L,nc]

RewriteRule ^fa/(.*)$ /$1 [nc]

